@import "partials/base";
@import "partials/typography";
@import "partials/colorization";
@import "partials/icons";

body{
	position:relative;
}

section, article, header, footer, hgroup{
	display:block;
}

a, a:hover, a:visited, a:active, a:focus{
	text-decoration:none;
}

#sectionContact a{
	color:$lightText;
}

footer[role="contentinfo"]{
	position: absolute;
	bottom:5px;
	left: 5px;
}

#sectionContact footer[role="contentinfo"] a{
	color:$accentColor;
}

.clearfix{
	clear:both;
}

.tables{
	display: table;
	width:90%;
	margin:auto;
	border-spacing:10px;
	border-top:2px solid $accentColor;
	text-align:left;
}

.tableRows{
	display: table-row;
}

.tableCells{
	display: table-cell;
	vertical-align:top;
	padding:5px;
}

.tables h2{
	margin-top:0px;
}

.tables h4, .tables ul{
	margin-top:-5px;
}

.tables .hasFooter{
	margin-bottom:2px;
}

.tables p, .tables footer{
	text-align:justify;
}

.tables .specialCell{
	text-align:center;
	vertical-align:middle;
}

.specialCell ul{
	text-align:left;
	padding-left:15px;
}

.tables .specialWrapper{
	border-left: 3px solid $accentColor;
	border-right: 3px solid $accentColor;
	padding:3px 15px;
	@include border-radius(10px);
}

#skillsWrapper{
	width:90%;
	margin:auto;
	border-top:2px solid $accentColor;
	padding:15px;
	margin-bottom:50px;
}

#skillsWrapper blockquote{
	margin-bottom: 20px;
}

#skillsWrapper footer{
	margin-bottom: 5px;
}

.skillList{
	width:100%;
	margin:auto;
	text-align:left;
	list-style-type: none;
	border-left: 1px solid $accentColor;
	font-weight:700;
}

#firstSkillList, #thirdSkillList{
	border:none;
}

#thirdSkillList, #lastSkillList{
	margin-top:10px;
}

.mainTitle-ervaring{
	margin-top:30px;
}

.title-section{
	margin-top:75px;
}

/*navbar*/
.navbar-inverse{
	/*background: url('../images/backgroundNav.png');*/	
	box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.2) !important;
}

.nav-text{
	display:inline;
}

/*sections*/
.section{
	text-align:center;
}

#sectionHero{
/*background: url('../images/backgroundNav.png') repeat;*/
	position:relative;
}

img#myHead{
	position:fixed;
	width:120px;
	z-index:1031; /*above navbar*/
	border:14px solid $accentColor;
	@include border-radius(500px);
}


#contentHero{
	position:relative;
	top:50%;
	text-align:center;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	img#myHead{
		width:150px;
	}
	.nav-text{
	display:none;
	}
	#thirdSkillList{
		border-left: 1px solid $accentColor;
		margin-top:0px;
	}
	#lastSkillList{
		border-left: none;
		margin-top:10px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	img#myHead{
		width:170px;
	}
	.nav-text{
		display:inline;
	}
	#lastSkillList{
		border-left: 1px solid $accentColor;
		margin-top:0px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	img#myHead{
		width:200px;
	}
	.nav-text{
		display:inline;
	}
}

blockquote{
	width:60%;
	margin:auto;
	border:none;
}

	


