@import "partials/base";
@import "partials/typography";
@import "partials/colorization";
@import "partials/icons";

body{
	position:relative;
}

section, article, header, footer, hgroup{
	display:block;
}

a, a:hover, a:visited, a:active, a:focus{
	text-decoration:none;
}

blockquote{
	width:80%;
	margin:auto;
	margin-bottom: 20px;
	border:none;
}

.clearfix{
	clear:both;
}

.specialChar{
	font-family:$mainFontFamily;
}

.section{
	text-align:center;
}

hgroup[role="sectionhead"]{
	margin-top:65px;
}

.subtitle-section{
	width:325px; /* ~equal to divider*/
	margin:10px auto;
}

/*sectionHero*/
img#myHead{
	position:fixed;
	width:180px;
	left:50%;
	top:20%;
	margin-left:-90px;
	border:14px solid $accentColor;
	@include border-radius(500px);
}

#contentHero{
	position:relative;
	top:50%;
}

/*section Motivatie*/
#titleOneMotivatie,#titleTwoMotivatie{
	width:49%;
}

#titleOneMotivatie{
 	float:left;
 	text-align:left;
}

#titleTwoMotivatie{
	float:right;
	text-align:right;
}

#floatBothWrap { /* wantedWrapper is fitted in here @media (min-width: 768px) */
	width: 90%; 
	margin: auto;
	#whoAmI, #verantwoording { 
		width: 47%;
		text-align:justify;
	}
	#whoAmI, #verantwoording:before { 
		float: left; 
	}
	#verantwoording, #whoAmI:before { 
		float: right; 
	}
}

#wantedWrapper{
	display:none; /*becomes visible @media (min-width: 768px) */
	position:relative;
	width: 300px;
	height:325px;
	margin:auto;
	padding:20px;
	h2, .wantedText{
		margin:0px;
	}
	.dividerWanted{
		width: 50%;
	}
	#lastText{
		position:absolute;
		width:260px;
		left:20px;
		bottom:20px;
	}
}
		
/*sectionErvaring*/
.tables, #skillsWrapper{
	width:90%;
	margin:auto;
	border-top:2px solid $accentColor;
}

.tables {
	display: table;
	border-spacing:10px;
	text-align:left;
	.tableRows{
		display: table-row;
	}
	.tableCells{
		display: table-cell;
		vertical-align:top;
		padding:5px;
		width:50%;
	}
	h3{
		margin-top:0px;
	}
	h4,ul{
		margin-top:-5px;
	}
	p,footer{
		text-align:justify;
	}
	p.hasFooter{
		margin-bottom:2px;
	}
	.centeredCell{
		text-align:center;
		vertical-align:middle;
	}
	.specialWrapper{
		border-left: 3px solid $accentColor;
		border-right: 3px solid $accentColor;
		padding:3px 15px;
		@include border-radius(10px);
	}
}

#skillsWrapper{
	margin-bottom:50px;
	footer{
		margin-bottom: 5px;
	}
}

.skillList{
	width:100%;
	margin:auto;
	padding-left:0px;
	text-align:left;
	list-style-type: none;
	border-left: 1px solid $accentColor;
	font-weight:700;
}

#firstSkillList, #secondSkillList, #thirdSkillList, #lastSkillList{
	border:none;
}

/*sectionContact*/
footer[role="contentinfo"]{
	position: absolute;
	bottom:5px;
	left: 5px;
}

/*navbar*/
.navbar-inverse{
	/*background: url('../images/backgroundNav.png');*/	
	box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.2) !important;
}

.nav-text{
	display:inline;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	blockquote{
		width:60%;
	}
	.slide blockquote{
		margin-top:5%;
	}
	.nav-text{
		display:none;
	}
	.skillList{
		padding-left:30px;
	}
	#thirdSkillList,#secondSkillList{
		border-left: 1px solid $accentColor;
		margin-top:0px;
	}
	#lastSkillList{
		border-left: none;
		margin-top:10px;
	}
	/* place wantedPoster */
	#wantedWrapper{
		display: block;
		background-image: url(../images/frame.png);
		background-repeat:no-repeat;
		background-size: cover;
	}
	#whoAmI, #verantwoording { 
		margin-top:-325px;
	}
	#whoAmI:before, #verantwoording:before { 
		content: ""; 
		width: 150px; 
		height: 325px; 
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.nav-text{
		display:inline;
	}
	#lastSkillList{
		border-left: 1px solid $accentColor;
		margin-top:0px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}