/*colors*/
$darkBackground:#3b3b3b;
$lightBackground:#fff;
$lightText: #fff;
$mediumLightText: #828282;
$darkText: #3b3b3b;
$accentColor: #ab1539;

/* Fonts*/
@font-face {
    font-family: Roundup;
    src:url(../fonts/Roundup.woff) format('woff'),  
    	url(../fonts/Roundup.ttf) format('truetype'); 
}
$mainFontFamily: 'Oswald', sans-serif;
$mainTitleFontFamily:'Fredericka the Great', cursive;
$sectionTitleFontFamily:'Rye', cursive;
$posterFontFamily:'Roundup',sans-serif;
$megaSizeFont:75px;
$hugeSizeFont:45px;
$biggestSizeFont:35px;
$biggerSizeFont:30px;
$littleBiggerSizeFont:25px;
$bigSizeFont:20px;
$largeSizeFont:17px;
$normalSizeFont:14px;

/*functions*/
@function left-pos-center-function($container-width, $element-width){
  @return ($container-width/2) - ($element-width/2)
}

/*mixins*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}