body{
	color:$darkText;
	background:$lightBackground;
}

h3, .tables a{
	color:$accentColor;
}

.specialErvaring h3{
	color:$darkText;
}

footer{
	color:$mediumLightText;
}

/*dark sections*/
#sectionHero, #sectionContact{
	background:$darkBackground;
	color:$lightText;
	a {
		color:$lightText;
	}
}

/*navbar*/
.navbar-inverse{
	background:$darkBackground;
	.fav-header,.navbar-nav > li > a, .navbar-brand{
		color:$lightText;
	}
	.fav-header-active{
		color:$accentColor;
	}	
}

/*section Ervaring*/
#sectionErvaring li{
	.fa-li,.glyphicon{
		color:$accentColor;
	}
}	

/*section Referenties*/
.controlArrow.next{
	border-color: transparent transparent transparent $accentColor;
}

.controlArrow.prev{
	border-color: transparent $accentColor transparent transparent;
}

/*sectionContact*/
#sectionContact{
	footer[role="contentinfo"] a{
		color:$accentColor;
	}
}  