.fav-header{
	padding-top:3px;
}

.hands{
	height:20px;
}

.ster,.schoppen{
	height:15px;
	vertical-align:baseline;
}

span.starredTitle{
	margin:0px -5px; 
}

.iconTitle{
	white-space: nowrap;
}

#arrowHero{
	width:128px;
}

#arrowHero:hover{
	cursor:pointer;
}

.controlArrow.next{
	margin-top:-20px; /*centered vertically*/
	border-width:20px 0px 20px 20px;
}

.controlArrow.prev{
	@extend .controlArrow.next; 
	border-width:20px 20px 20px 0px;
}

.subtitle-divider{
	width:300px;
}

li .glyphicon{
	float:right;
}

@media (min-width: 768px) {
	.hands{
		height:32px;
	}
	.schoppen{
		height:20px;
	}
	.ster{
		height:22px;
	}
	span.starredTitle{
		margin:0px -10px; 
	}
}