body{
	font-family:$mainFontFamily;
	font-size:$normalSizeFont;
}

h1{
	font-family:$sectionTitleFontFamily;
	font-size: $bigSizeFont;
}

h2{
	font-family:$mainTitleFontFamily;
	font-size: $littleBiggerSizeFont;
}

h3{
	font-size: $bigSizeFont;
	font-weight:700; /*only on Oswald*/
	line-height:0.9em;
}

blockquote{
	font-size: $normalSizeFont;
}

.subtitle-section{
	font-size:$normalSizeFont;
}

/*navbar*/
/*sectionHero*/
#sectionHero{
	h1{
		font-family:$mainTitleFontFamily;
		font-size: $biggerSizeFont;
	}
	h2{
		font-size: $bigSizeFont;
	}	
}

/*sectionMotivatie*/
#wantedWrapper{
	font-family:$posterFontFamily;
	font-size:$bigSizeFont;
	line-height:0.75em;
	h2{
		font-family:$posterFontFamily;
		font-size: $megaSizeFont;
		line-height:0.7em;
	}
	h4{
		font-size:$littleBiggerSizeFont;
		line-height:0.7em;
	}
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	h1{
		font-size: $biggestSizeFont;
	}
	h2{
		font-size: $hugeSizeFont;
	}
	h3{
		font-size: $biggestSizeFont;
	}
	.subtitle-section{
		font-size:$largeSizeFont;
	}
	blockquote{
		font-size: $bigSizeFont;
	}
	#sectionHero{
		h1{
			font-size:$biggestSizeFont;
		}
		h2{
			font-size:$biggerSizeFont;
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#sectionHero{
		h1{
			font-size:$hugeSizeFont;
		}
		h2{
			font-size:$biggestSizeFont;
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}