body{
	font-family:$primaryContentFontFamily;
	font-size:$normalSizeFont;
}

h1,h2{
	font-family:$secondaryTitleFontFamily;
}

.title-section{
	font-family:$primaryTitleFontFamily;
}

.subtitle-section{
	font-family:$primaryContentFontFamily;
	font-size:1.1em;
	width:325px; /*equal to divider*/
	margin:10px auto;
}

.tableCells h2{
	font-family:$primaryContentFontFamily;
	font-weight:700; /*only on Oswald*/
	font-size: 2.8em;
	line-height:0.9em;
}

.tableCells .tertiaryFont{
	font-family:$tertiaryTitleFontFamily;
}

.tableCells .fourthFont{
	font-family:$fourthTitleFontFamily;
}

.tableCells .tertiaryFont, .tableCells .fourthFont{
	font-size: 2em;
	line-height:1em;
}

.starredTitle{
	font-size:1.3em;
}

#contentHero h1,#contentHero h2{
	font-family:$secondaryTitleFontFamily;
	color:$lightText;
} 


.navbar-inverse{
	font-family:$headerFontFamily;
}

#contentHero h1{
	font-size:2em;
}

#contentHero h2{
	font-size:1.5em;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#contentHero h1{
		font-size:3em;
	}

	#contentHero h2{
		font-size:1.9em;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#contentHero h1{
		font-size:3.5em;
	}

	#contentHero h2{
		font-size:2.5em;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	#contentHero h1{
		font-size:4em;
	}

	#contentHero h2{
		font-size:3em;
	}
}