/*colors*/
/* Fonts*/
@font-face {
  font-family: Roundup;
  src: url(../fonts/Roundup.ttf); }
/*functions*/
/*mixins*/
body {
  font-family: "Oswald", sans-serif;
  font-size: 14px; }

h1 {
  font-family: "Rye", cursive;
  font-size: 35px; }

h2 {
  font-family: "Fredericka the Great", cursive;
  font-size: 45px; }

h3 {
  font-weight: 700;
  /*only on Oswald*/
  font-size: 35px;
  line-height: 0.9em; }

.subtitle-section {
  font-size: 17px;
  width: 325px;
  /*equal to divider*/
  margin: 10px auto; }

/*navbar*/
/*sectionHero*/
#sectionHero h1 {
  font-family: "Fredericka the Great", cursive;
  font-size: 30px; }
#sectionHero h2 {
  font-size: 20px; }

/*sectionMotivatie*/
#wantedWrapper {
  font-family: "Roundup", sans-serif;
  font-size: 20px;
  line-height: 0.75em; }
  #wantedWrapper h2 {
    font-family: "Roundup", sans-serif;
    font-size: 70px;
    line-height: 0.7em; }
  #wantedWrapper h4 {
    font-size: 25px;
    line-height: 0.7em; }

/*sectionErvaring*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #sectionHero h1 {
    font-size: 35px; }
  #sectionHero h2 {
    font-size: 30px; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #sectionHero h1 {
    font-size: 45px; }
  #sectionHero h2 {
    font-size: 35px; } }
/* Large devices (large desktops, 1200px and up) */
body {
  color: #3b3b3b;
  background: white; }

footer {
  color: #828282; }

h3 {
  color: #ab1539; }

.specialErvaring h3 {
  color: #3b3b3b; }

/*dark sections*/
#sectionHero, #sectionContact {
  background: #3b3b3b;
  color: white; }

/*navbar*/
.navbar-inverse {
  background: #3b3b3b; }
  .navbar-inverse .fav-header, .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: white; }
  .navbar-inverse .fav-header-active {
    color: #ab1539; }

/*section Ervaring*/
#sectionErvaring li .fa-li, #sectionErvaring li .glyphicon {
  color: #ab1539; }

/*section Referenties*/
.controlArrow.next, .controlArrow.prev {
  border-color: transparent transparent transparent #ab1539; }

.controlArrow.prev {
  border-color: transparent #ab1539 transparent transparent; }

/*sectionContact*/
#sectionContact a {
  color: white; }
#sectionContact footer[role="contentinfo"] a {
  color: #ab1539; }

.fav-header {
  padding-top: 3px; }

.hands, .ster, .schoppen {
  max-height: 100%; }

.ster, .schoppen {
  vertical-align: baseline; }

.iconTitle {
  white-space: nowrap; }

span.starredTitle {
  margin: 0px -10px; }

#arrowHero {
  width: 128px; }

#arrowHero:hover {
  cursor: pointer; }

.controlArrow.next, .controlArrow.prev {
  margin-top: -20px;
  /*centered vertically*/
  border-width: 20px 0px 20px 20px; }

.controlArrow.prev {
  border-width: 20px 20px 20px 0px; }

.subtitle-divider {
  width: 300px; }

li .glyphicon {
  float: right; }

body {
  position: relative; }

section, article, header, footer, hgroup {
  display: block; }

h3 {
  margin-top: 0px; }

a, a:hover, a:visited, a:active, a:focus {
  text-decoration: none; }

blockquote {
  width: 60%;
  margin: auto;
  border: none; }

.clearfix {
  clear: both; }

.specialChar {
  font-family: "Oswald", sans-serif; }

.section {
  text-align: center; }

hgroup[role="sectionhead"] {
  margin-top: 65px; }

/*sectionHero*/
img#myHead {
  position: fixed;
  width: 180px;
  left: 50%;
  top: 20%;
  margin-left: -90px;
  z-index: 1031;
  /*above navbar*/
  border: 14px solid #ab1539;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  border-radius: 500px; }

#contentHero {
  position: relative;
  top: 50%; }

/*section Motivatie*/
#titleOneMotivatie, #titleTwoMotivatie {
  width: 49%; }

#titleOneMotivatie {
  float: left;
  text-align: left; }

#titleTwoMotivatie {
  float: right;
  text-align: right; }

#wantedWrapper {
  position: relative;
  width: 300px;
  height: 325px;
  margin: auto;
  padding: 20px;
  background-image: url(../images/frame.png);
  background-repeat: no-repeat;
  background-size: cover; }
  #wantedWrapper h2 {
    margin: 0px; }
  #wantedWrapper .wantedText {
    margin: 0px; }
  #wantedWrapper .dividerWanted {
    width: 50%; }
  #wantedWrapper #lastText {
    position: absolute;
    width: 260px;
    left: 20px;
    bottom: 20px; }

#floatBothWrap {
  width: 90%;
  margin: auto; }

#whoAmI, #verantwoording {
  width: 49%;
  text-align: justify;
  margin-top: -325px; }

#whoAmI {
  float: left; }

#verantwoording {
  float: right; }

#whoAmI:before, #verantwoording:before {
  content: "";
  width: 170px;
  height: 345px; }

#whoAmI:before {
  float: right; }

#verantwoording:before {
  float: left; }

/*sectionErvaring*/
.tables, #skillsWrapper {
  width: 90%;
  margin: auto;
  border-top: 2px solid #ab1539; }

.tables {
  display: table;
  border-spacing: 10px;
  text-align: left; }
  .tables .tableRows {
    display: table-row; }
  .tables .tableCells {
    display: table-cell;
    vertical-align: top;
    padding: 5px;
    width: 50%; }
  .tables h4, .tables ul {
    margin-top: -5px; }
  .tables p, .tables footer {
    text-align: justify; }
  .tables p.hasFooter {
    margin-bottom: 2px; }
  .tables .centeredCell {
    text-align: center;
    vertical-align: middle; }
  .tables .specialWrapper {
    border-left: 3px solid #ab1539;
    border-right: 3px solid #ab1539;
    padding: 3px 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }

#skillsWrapper {
  padding: 15px;
  margin-bottom: 50px; }
  #skillsWrapper blockquote {
    margin-bottom: 20px; }
  #skillsWrapper footer {
    margin-bottom: 5px; }

.skillList {
  width: 100%;
  margin: auto;
  text-align: left;
  list-style-type: none;
  border-left: 1px solid #ab1539;
  font-weight: 700; }

#firstSkillList, #thirdSkillList {
  border: none; }

#thirdSkillList, #lastSkillList {
  margin-top: 10px; }

/*sectionContact*/
footer[role="contentinfo"] {
  position: absolute;
  bottom: 5px;
  left: 5px; }

/*navbar*/
.navbar-inverse {
  /*background: url('../images/backgroundNav.png');*/
  box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.2) !important; }

.nav-text {
  display: inline; }

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .nav-text {
    display: none; }

  #thirdSkillList {
    border-left: 1px solid #ab1539;
    margin-top: 0px; }

  #lastSkillList {
    border-left: none;
    margin-top: 10px; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .nav-text {
    display: inline; }

  #lastSkillList {
    border-left: 1px solid #ab1539;
    margin-top: 0px; } }
/* Large devices (large desktops, 1200px and up) */

/*# sourceMappingURL=mainStyle.css.map */
